### SQL and SQlite

In [1]:
import sqlite3

In [2]:
## connect tp an Sqlite database
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## Create a table
cursor.execute('''
Create Table if Not exists employee(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')
## commit the changes
connection.commit()

In [9]:
## Insert the data in sqlite table



cursor.execute('''
Insert Into employee(name,age,department)
               values('Rahul',32,'SDE') 



''')
cursor.execute('''
Insert Into employee(name,age,department)
               values('Deepak',50,'CA') 



''')

connection.commit()

In [13]:
## Query the data from the table
cursor.execute('Select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aryan', 22, 'Data Scientist')
(2, 'Rahul', 35, 'SDE')
(3, 'Deepak', 50, 'CA')

In [12]:
## Update the  data in the table
cursor.execute('''
Update employee
 Set age =35
 where name ='Rahul'                            

''')
connection.commit()

In [14]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aryan', 22, 'Data Scientist')
(2, 'Rahul', 35, 'SDE')
(3, 'Deepak', 50, 'CA')

In [15]:
## Delete the data from the table
cursor.execute('''
Delete from employee
where name ='Rahul'               

''')
connection.commit()

In [16]:
cursor.execute('Select * from employee')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aryan', 22, 'Data Scientist')
(3, 'Deepak', 50, 'CA')

In [20]:
## Working with sales data
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()
# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT                                                        
)
''')
sales_data =[
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-03','Product2',200,'East'),
    ('2023-01-02','Product1',150,'West'),
    ('2023-01-05','Product3',300,'North'),
]
cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
                   
''',sales_data)
connection.commit()

In [21]:
connection.close()