In [1]:
name="Aryan"
print(name)

Aryan

In [2]:
age = 32
if age>30:
   age = 20
else: age = 100

print(age)

20

In [3]:
total = 1+2+3+34 +\
4
print(total)

44

In [4]:
x=5;y=7;z=10; print(x+y+z)

22

In [1]:
age = 32
height = 6.1
name = "Aryan Ajmera"
is_student = True

print("age:",age)
print("height:",height)

age: 32
height: 6.1

In [3]:
num1 = int(input("enter the first no"))
num2 = int(input("enter the second no."))

Sum = num1 + num2
print("the sum of the no. is:",Sum)

the sum of the no. is: 90

In [5]:
result = "Hello" + "5"
print(result)

Hello5

In [6]:
for i in range(5):
    for j in range(5):
        print("*", end="")
        
    print()

*****
*****
*****
*****
*****

In [9]:

sum =0
while True:
    num = int(input("enter ur no."))
    if(num==0):
        break
    else:
        sum += num

print(sum)

30

In [1]:
list =[1,2,3,4,5]
print(type(list))

<class 'list'>

In [2]:
print(list)

[1, 2, 3, 4, 5]

In [3]:
names = ["Aryan", "Jack",1,2,3,4]
print(names)

['Aryan', 'Jack', 1, 2, 3, 4]

In [7]:
fruits =["apple","Mango","Banana","cherry"]
for i in range(len(fruits)):
    print(fruits[i],end=" ")

apple Mango Banana cherry

In [11]:
print(fruits[0:])

['apple', 'Watermelon', 'Banana', 'cherry']

In [10]:
## modifiying the list
fruits[1] = "Watermelon"
print(fruits)

['apple', 'Watermelon', 'Banana', 'cherry']

In [12]:
## list methods

fruits.append("orange")
print(fruits)

['apple', 'Watermelon', 'Banana', 'cherry', 'orange']

In [13]:
fruits.insert(1,"kiwi")
print(fruits)

['apple', 'kiwi', 'Watermelon', 'Banana', 'cherry', 'orange']

In [14]:
fruits.remove("kiwi")
print(fruits)

['apple', 'Watermelon', 'Banana', 'cherry', 'orange']

In [18]:
## remove and return the last
popped_fruits = fruits.pop()
print(popped_fruits)
print(fruits)

cherry
['apple', 'Watermelon', 'Banana']

In [26]:
fruits=['Apple', 'Watermelon', 'Banana', 'Cherry', 'Orange']
index = fruits.index("Watermelon")
print(index)

1

In [28]:
fruits.insert(2,"Mango")
print(fruits.count("Mango"))

1

In [32]:
fruits.sort()
fruits

['Apple', 'Banana', 'Cherry', 'Mango', 'Orange', 'Watermelon']

In [35]:
fruits.reverse()
fruits

['Watermelon', 'Orange', 'Mango', 'Cherry', 'Banana', 'Apple']

In [45]:
numbers =[100,2,3,4,5,6,7,8]
print(numbers[::-2])

[8, 6, 4, 2]

In [47]:
for i in numbers:
 print(i, end=" ")

100 2 3 4 5 6 7 8

In [48]:
for index , i in enumerate(numbers):
    print(index, i)

0 100
1 2
2 3
3 4
4 5
5 6
6 7
7 8

In [49]:
## list comprenshion 
list1 =[]
for x in range(10):
    list.append(x**2)
    print(list, end=" ")
    print()

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
[x**3 for x in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [56]:
Square=[num for num in range(10) if num %2==0]
Square

[0, 2, 4, 6, 8]

In [58]:
## nested list comprenshion 
list1=[1,2,3,4,5]
list2 =['a','b','c','d']
pair= [(i,j) for i in list1 for j in list2]
print(pair)

[(1, 'a'), (1, 'b'), (1, 'c'), (1, 'd'), (2, 'a'), (2, 'b'), (2, 'c'), (2, 'd'), (3, 'a'), (3, 'b'), (3, 'c'), (3, 'd'), (4, 'a'), (4, 'b'), (4, 'c'), (4, 'd'), (5, 'a'), (5, 'b'), (5, 'c'), (5, 'd')]

In [60]:
## list comprenshion with function calls
words =["hello", "How","why"]
lengths = [len(i) for i in words ]
lengths

[5, 3, 3]

In [61]:
#Create a list of the first 20 positive integers. Print the list.
list1 =[i for i in range(1,21)]
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [64]:
# Print the first, middle, and last elements of the list created in Assignment 1
print(list[0],list[(int)(len(list)/2)], list[len(list)-1])

1 11 20

In [68]:
#Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.
print(list[0:5])
print(list[5:16])
print(list[15:20])

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[16, 17, 18, 19, 20]

In [70]:
#Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.
nums=[x**2 for  x in range(11)]
nums

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [71]:
#Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.
nums = [num for num in  list if num%2 ==0 ]
nums

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
#Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

lst =[4,8,1,4,7,22,1,2]
lst.sort()
print(lst)
lst.reverse()
lst
list2=(set(lst))
list2

[1, 1, 2, 4, 4, 7, 8, 22]

{1, 2, 4, 7, 8, 22}

In [93]:
#Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
list1 =[1,2,3]
list2 =[1,2,3]

list3 = [(i,j) for i in list1 for j in list2]
#print[list3]
print(list3[1][1])

2

In [21]:
tuple1=()
print(type(tuple1))

<class 'tuple'>

In [1]:
numbers = tuple([1, 2, 3, 4, 5])
print(type(numbers))  # This will output <class 'tuple'>

<class 'tuple'>

In [2]:
numbers

(1, 2, 3, 4, 5)

In [3]:
list(numbers)

[1, 2, 3, 4, 5]

In [5]:
#mixed tuples
mixedtuple=(1,"hello",3.14)
mixedtuple

(1, 'hello', 3.14)

In [6]:
print(mixedtuple[1])

hello

In [7]:
print(mixedtuple[-1])

3.14

In [8]:
mixedtuple.index(3.14)

2

In [9]:
numbers + mixedtuple

(1, 2, 3, 4, 5, 1, 'hello', 3.14)

In [10]:
numbers.count(1)

1

In [11]:
## packing and unpacking tuple
packed_tuple = 1,"hello",31.4
packed_tuple

(1, 'hello', 31.4)

In [12]:
## unpacked tuple
a,b,c= packed_tuple
print(a)
print(b)

1
hello

In [15]:
##unpackintg with *
numbers=(1,2,3,4,5,6)
first,*middle,last= numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [18]:
# nested tuple
nested_tuples =((1,2,3),("a","b","c"),(True,False))
nested_tuples[1]

('a', 'b', 'c')

In [20]:
for x in nested_tuples:
    for item in x:
        print(item , end=" ")
    print()

1 2 3
a b c
True False

In [21]:
## create a sets
my_set = {1,2,3,4}
my_set

{1, 2, 3, 4}

In [23]:
my_empty_set ={}
my_empty_set

{}

In [25]:
## basic set opreations
## adding and removing elements
my_set.add("hello")
my_set

{1, 2, 3, 4, 7, 'hello'}

In [26]:
my_set.remove("hello")
my_set

{1, 2, 3, 4, 7}

In [27]:
my_set.discard(10)

In [33]:
## pop method
my_set.pop()
my_set.clear()

In [34]:
my_set = {1,2,3,4}

In [35]:
## set membership test
print(3 in my_set)

True

In [2]:
##mathematical opreations
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
union_set = set1.union(set2)
print(type(set1))
print(union_set)

intersection_set = set1.intersection(set2)
print(intersection_set)
print(set1.difference_update(set2))
set1.intersection_update(set2)

print(set1)

<class 'set'>
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
None
set()

In [47]:
## Sets method

set1={1,2,3,5,4}
set2 ={3,4,5}
nums =[1,2,3,4,5]

set(nums)


print(set1.issuperset(nums))

True

In [46]:
numbers=[1,2,3,4,5,6,5,5,5,5]
set(numbers)

{1, 2, 3, 4, 5, 6}

In [49]:
## counting unique words in text
text = "In this this tut"
words= text.split()
words
unique_words =set(words)
unique_words

{'In', 'this', 'tut'}

In [2]:
#Create a tuple with the first 10 positive integers. Print the tuple.

name = (1,2,3,4,5,6,7,8,9,10)
type(name)

tuple

In [12]:
#Print the first, middle, and last elements of the tuple created in Assignment 1.
print(name[0] , name[-1] ,name[len(name)//2])

1 10 6

In [16]:
#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(f"first three elements are :{name[0:3]}")

first three elements are :(1, 2, 3)

In [17]:
#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
tup1 =(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
tup1[1][2]

6

In [18]:
#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tup1 =(1,2,3)
tup2 = (4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [21]:
##Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
tup1 = (1,2,3,4,4,4,5,6)
print(tup1.count(4))
print(tup1.index(4))

3
3

In [23]:
#Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tup1 =(1,2,3,4,5)
a,b,c,d,e = tup1
print(a,b,c,d,e)

1 2 3 4 5

In [24]:
#Convert a list of the first 5 positive integers to a tuple. Print the tuple.
list1=[1,2,3,4,5]
print(type(list1))
tup1 = tuple(list1)
tup1

<class 'list'>

(1, 2, 3, 4, 5)

In [27]:
#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tup1 = ((1,2,3),(4,5,6),(7,8,9))
for i in tup1:
    for j in i:
     print(j,end=" ")

1 2 3 4 5 6 7 8 9

In [5]:

#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tup1=(1,2,3,4,5)
my_list = list(tup1)
my_list.append(6)
tuple(my_list)

(1, 2, 3, 4, 5, 6)

In [6]:
#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
tup1 =("Aryan","Hello")
my_stry=tup1[0]+tup1[1]
my_stry

'AryanHello'

Dictionaries

are Unordered collections of items

In [3]:
empty_dict ={1,2,3}
type(empty_dict)

set

In [6]:
student ={"name":"Krish","Age":32,"grade":24}
type(student)

dict

In [9]:
## accessing Dictionary Elements
student.get("Age")
student['grade']

24

In [17]:
#Modifying Dictionary Elements
student['name'] ="Aryan"
student['Address'] ='NewYork'
student.pop('name')
student

{'Age': 32, 'Address': 'NewYork'}

In [21]:
#Dictionary methods
keys = student.keys()
print(keys)
values = student.values()
print(values)
items = student.items()
print(items)

dict_keys(['Age', 'Address'])
dict_values([32, 'NewYork'])
dict_items([('Age', 32), ('Address', 'NewYork')])

In [22]:
# shallow copy
students_copy =student
print(students_copy)

{'Age': 32, 'Address': 'NewYork'}

In [23]:
student['name'] ="Aryan"
print(student)
print(students_copy)

{'Age': 32, 'Address': 'NewYork', 'name': 'Aryan'}
{'Age': 32, 'Address': 'NewYork', 'name': 'Aryan'}

In [24]:
students_copy1 = student.copy()
print(students_copy1)

{'Age': 32, 'Address': 'NewYork', 'name': 'Aryan'}

In [25]:
student['name'] ="Aa"
print(student)
print(students_copy1)

{'Age': 32, 'Address': 'NewYork', 'name': 'Aa'}
{'Age': 32, 'Address': 'NewYork', 'name': 'Aryan'}

In [27]:
## itreating over dictionaries
## we can use loops to itreate 
## itreating over keys

for keys in student.keys():
  print(keys)

Age
Address
name

In [30]:
for items , value in student.items():
    print(f"{items}:{value}")

Age:32
Address:NewYork
name:Aa

In [29]:
for values in student.values():
    print(values)

32
NewYork
Aa

In [35]:
students ={ "Student1" :{ "Name":'Aryan',"Age":22},
           "Student2":{"Name":"Rahul","Age":30}
}
for key,value in students.items():
    print(f"{key}:{value}")
    for keys,values in value.items():
        print(f"{keys}:{values}")

Student1:{'Name': 'Aryan', 'Age': 22}
Name:Aryan
Age:22
Student2:{'Name': 'Rahul', 'Age': 30}
Name:Rahul
Age:30

In [36]:
# dictionaries comphrehension
square={x:x**2 for x in range(5)}
print(square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [40]:
##condition dictionary comprehension
evens ={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [41]:
# practical examples
## Use a dict to count the frequency of elements in list
numbers =[1,2,3,4,4,4,4,5,5,5,5]
print(numbers.reverse())
frequency={}
for nums in numbers:
    if nums in frequency:
        frequency[nums]+=1
    else:
        frequency[nums] =1
print(frequency)

None
{5: 4, 4: 4, 3: 1, 2: 1, 1: 1}

In [43]:
## Merge two dict into 1
dict1 ={"Name":"Aryan","Age":22}
dict2 ={"address":"NewYork"}
merged_dict ={**dict1,**dict2}
merged_dict

{'Name': 'Aryan', 'Age': 22, 'address': 'NewYork'}

Real-World example

In [1]:
# Create a t o do list to keep track of task
to_do_list =["Buy Grocery","clean the house","pay bills"]
to_do_list.append("Schedule Meeting")
to_do_list.append("go for a run")

## removing a completed task
to_do_list.remove("clean the house")

## checking if a task is in the list

if"Pay bills" in to_do_list:
    print("Dont forget to pay bills")

print("To do list Remaining")
for items in to_do_list:
    print(items)

To do list Remaining
Buy Grocery
pay bills
Schedule Meeting
go for a run

In [4]:
## create a list to store and calculate average grades for students
# organizing student grades
grades = [85,90,77,100]
grades.sort()

grades.append(95)

avg_grade = sum(grades)/len(grades)
print(f"The avg grade of student is :{avg_grade}")
max_grade = max(grades)
min_grade =min(grades)
print(f"Max Grade of student is:{max_grade}\nMin Grade of student is:{min_grade}")

The avg grade of student is :89.4
Max Grade of student is:100
Min Grade of student is:77

In [10]:
## Managing an Inventory

inventory ={"apple","Banana","cherry", "Orange"}

# adding a new item
inventory.add("WaterMelon")
# removing an item
inventory.discard("Banana")
item = "Orange"
if item in inventory:
    print("they are in stock")
else:
    print("they are not in stock")

#printing the whole inventory
i =1
for items in inventory:
    print(f"{i}-{items}")
    i+=1

they are in stock
1-cherry
2-Orange
3-apple
4-WaterMelon

In [18]:
 # Collecting user FeedBack

feedback =["Good", "Average", "bad"]
# adding new feedback
feedback.append("great")
feedback.append("excellent")

#counting positive feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"No. of positive Feedback:{positive_feedback_count}")
negative_feedback_count  = sum(1 for comment in feedback if "Average" in comment or "bad" in comment.lower())
print(f"No. of Negative Feedback:{negative_feedback_count}")

print("User Feedback")
for comments in feedback:
    print(f"-{comments}")

No. of positive Feedback:2
No. of Negative Feedback:2
User Feedback
-Good
-Average
-bad
-great
-excellent

FUNCTIONS IN PYTHON

In [ ]:
## syntax
def fucntion_name(parameters):
    return expresion

In [22]:
def isEven(num):
    if(num%2==0):
        print(f"{num} is even")
    else: 
        print(f"{num} is odd")

isEven(26)

26 is even

In [23]:
isEven(100)

100 is even

In [25]:
def add(a,b):
    summation = a+b
    return summation

print(add(3,5))

8

In [32]:
## default Parameters
def greet(name="Guest"):
    print(f"Hello {name}")

greet("Aryan")

Hello Aryan

In [35]:
### Variable Length Arguments
## Positional and Keywords arguments

def print_numbers(*args):
    for numbers in args:
        print(numbers,end=" ")
print_numbers(1,2,3,4,5,6,7,"Aryan")

1 2 3 4 5 6 7 Aryan

In [36]:
##3 Keywords Arguments
## all the arguments will be in key value pair

def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}:{value}")

In [38]:
print_details(name='Aryan',age=22,country='USA')

name:Aryan
age:22
country:USA

In [39]:
def print_detail(*args,**kwargs):
    for numbers in args:
        print(numbers)

    for key , value in kwargs.items():
        print(f"{key}:{value}")

In [40]:
print_detail(1,2,3,4,name="Aryan",Country="USA")

1
2
3
4
name:Aryan
Country:USA

In [41]:
## Return Statement
def multiply(a,b):
    c = a*b
    return c
print(multiply(2,4))

8

In [44]:
# Temp Conversion
def temprature_conversion(user_input):
    num = (int)(input("Enter 1 for F to C or 2 for C to F"))
    if(num==1):
     celsius = (int)((user_input-32)*5/9)
     return celsius
    else:
       fahrenheit = int((user_input*9/5) +32)
       return fahrenheit

In [46]:
temprature_conversion(24)

75

In [53]:
import re
## Password Strength checker
def is_Strong_Password(password):
    """check if the password is strong pr not"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '@#$%^^' for char in password):
        return False
    return True
  
is_Strong_Password("Neha$12345")

True

In [69]:
def calculate_total_cost(**kwargs):
    cost =0
    for items in kwargs.values():
        cost = cost+items
    return cost

In [70]:
costs=calculate_total_cost(Pasta=20,Pizza=40,Cheese=100)
costs

160

In [73]:
def totalCost(cart):
  total_cost = 0
  for item in cart:
        total_cost += item["price"]*item["quantity"]

  return total_cost 


# Example cart edata
cart=[ {"name":"Apple","price":0.5,"quantity":4}
          ,{"name":"Cherry","price":1,"quantity":4}
          ,{"name":"Mango","price":2,"quantity":4}

]

totalCost(cart)

14.0

In [78]:
# check if palindrome

def is_palindrome(s):
    s = s.lower().replace(" ","")
    if(s==s[::-1]):
        return True
    else:
        return False
    
is_palindrome("aa bb aa")

True

In [80]:
def factorial(num):
    if num ==0:
        return 1
    else:
         return num*factorial(num-1)

factorial(5)

120

In [82]:
#  A function to read a file and count frequency of each word

def count_word_frequyency(file_path):
    wordCount={}
    with open(file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:')
                wordCount[word] = wordCount.get(word,0)+1
    return wordCount

filepath='requirements.txt'
ww =count_word_frequyency(filepath)       
print(ww)

{'scikit-learn': 1, 'pandas': 1, 'ipykernel': 1}

Lambda function

In [1]:
def addition(a,b):
    return a+b

addition(3,4)

7

In [2]:
addition1 = lambda a,b:a+b
print(addition1(3,5))

8

In [4]:
even1 = lambda num:num%2==0
print(even1(25))

False

In [5]:
addition2 = lambda x,y,z:x+y+z
addition2(3,4,5)

12

In [6]:
num =[1,2,3,4,5,6]
def squared(nums):
    for items in nums:
        print(f"{items}:{items**2}")

squared(num)

1:1
2:4
3:9
4:16
5:25
6:36

In [9]:
## map()- applies a function to all items in the list 
tuple(map(lambda x:x**2,num))

(1, 4, 9, 16, 25, 36)

In [13]:
## lambda with map
list(map(lambda x: x if x%2==0 else None,num))

[None, 2, None, 4, None, 6]

In [17]:
## map multiple iterables
numbers1 =[1,2,3,4,5]
numbers2 = [7,8,9,7,7]
added_no = list(map(lambda x, y:x+y,numbers1,numbers2))
added_no

[8, 10, 12, 11, 12]

In [18]:
## map to convert list of string into integers
str_num =['1','2','3','4']
int_num = list(map(int,str_num))
int_num

[1, 2, 3, 4]

In [19]:
words =['apple','banana']
upper_words =list(map(str.upper,words))
upper_words

['APPLE', 'BANANA']

In [20]:
def get_name(person):
    return person['name']

persons =[{'name':'jack'},{'name':'aryan'}]

list(map(get_name,persons))

['jack', 'aryan']

The filter() function

In [22]:
def even(num):
    if num%2==0:
        return True
    
even(25)

In [24]:
lst =[1,2,3,4,5,6,7,8,9,10]

list(filter(even,lst))

[2, 4, 6, 8, 10]

In [30]:
## filter with lambda funtion
list(filter(lambda x:x%2==0 and x>5,lst))

[6, 8, 10]

In [32]:
## filter() to check if age is > 25 in dictionaries
people =[{'name':'Aryan','age':26},{
           'name':'Rahul','age':28
}]
def age_greater_than_25(people):
    return people['age']>25
    
list(filter(age_greater_than_25,people))

[{'name': 'Aryan', 'age': 26}, {'name': 'Rahul', 'age': 28}]

Importing Modules in Python: Modules and Packages

In [5]:
import math
math.sin(90)

0.8939966636005579

In [6]:
math.pi

3.141592653589793

In [8]:
import numpy as np

In [10]:
np.array([1,2,3,45])

array([ 1,  2,  3, 45])

In [11]:
from math import *
sqrt(25)

5.0

In [21]:
from package.evl import elval

ImportError: cannot import name 'elval' from 'package.evl' (d:\DataScienceBootCamp\python\package\evl.py)

In [23]:
i
print(package.evl.__file__)  # This will show the file path being imported
elval(4,6)

d:\DataScienceBootCamp\python\package\evl.py

NameError: name 'elval' is not defined

In [1]:
from  package.evl import *
summation(3,4)

7

In [2]:
import array
arr =array.array('i',[1,2,3,4,5])
arr

array('i', [1, 2, 3, 4, 5])

In [9]:
## random 
import random
print(random.randint(1,100))
print(random.choice([1,2,3,4,5,5]))

97
1

In [11]:
### file and directory access

import os
print(os.getcwd())

d:\DataScienceBootCamp\python

In [12]:
os.mkdir('test_dir')

In [14]:
## high level opreations on file
import shutil
shutil.copy('source.txt','rand.txt')

'rand.txt'

In [17]:
## Data Serialization
## converting into json
import json
data={'name':'Aryan','age':22}
json_str = json.dumps(data)
type(json_str)

parsed_data=json.loads(json_str)
print(parsed_data)

{'name': 'Aryan', 'age': 22}

In [20]:
## csv files

import csv

with open('example.csv',mode='w',newline='') as file:
    writer= csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['Aryan', 22])

with open('example.csv',mode='r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Aryan', '22']

In [24]:
## date time

from datetime import *
now = datetime.now()
print(now)

yesterday = now-timedelta(days=1)
print(yesterday)

2025-01-12 14:46:43.637979
2025-01-11 14:46:43.637979

In [25]:
## time
import time

print(time.time())
time.sleep(2)
print(time.time())

1736673442.5014482
1736673444.5023098

In [28]:
## Regular expression
import re 
pattern = r'\d+'
text ='there are 1233232 apples'
match = re.search(pattern,text)
print(match.group())

1233232

File opreations in python and Write files

In [38]:
## Read a whole file
with open('example.txt','r') as file:
    content = file.read()
    print(content)

My name is Aryan
Hello how are you

In [36]:
## Read a file line by line
with open('example.txt','r') as file:
    for line in file:
        print(line.strip())## removes the new line character

My name is Aryan

In [35]:
## Writing a file(Overwriting)

with open('example.txt','w') as file:
    file.write('My name is Aryan\n')

In [41]:
with open('example.txt','a') as file:
    file.write("Hello how are you\n")

In [42]:
## wirting lis tof lines in python
lines =['first line\n','Second line \n','Thrid line\n']
with open('example.txt','a') as file:
    file.writelines(lines)

In [43]:
### Binary files

data = b'\x00\x01'
with open('example.bin','wb') as file:
    file.write(data)

In [44]:
with open('example.bin','rb') as file:
    content = file.read()
    print(content)

b'\x00\x01'

In [46]:
## Read the the content from soucre text file  adn write to rand.txt

with open('source.txt','r') as source_file:
    content = source_file.read()

with open('rand.txt', 'a') as rand_file:
    rand_file.write(content)

In [48]:
def count_text_file(file_path):
    with open(file_path,'r') as file:
        lines = file.readlines()
        line_count = len(lines)
        word_count = sum(len(line.split()) for line in lines)
        char_count = sum(len(line) for line in lines)
        return line_count,word_count,char_count
    
file_path= 'example.txt'
lines, words, charcaters = count_text_file(file_path)
print(lines,words,charcaters)

8 22 112

W+ mode is used to both read and write a file

In [52]:
with open('example.txt','w+') as file:
    file.write('Hello world\n')
    file.write('this is a new line\n')
    ## Move the file cursor to the beginning
    file.seek(10)
    ## read the content of the file
    content = file.read()
    print(content)

d
this is a new line

In [4]:
## Create a new directory
import os
new_directory ="packages"
os.mkdir(new_directory)
print(f"Directory'{new_directory}' package")

Directory'packages' package

In [5]:
## listing files and directories 
items =os.listdir('.')
items

['example.bin',
 'example.csv',
 'example.txt',
 'linearreg.ipynb',
 'package',
 'packages',
 'rand.txt',
 'requirements.txt',
 'source.txt',
 'test.py',
 'test_dir',
 'venv']

In [7]:
### Joining Paths

dir_name="folder"
file_name='file.txt'
full_path= os.path.join(dir_name,file_name)
print(full_path)

folder\file.txt

In [8]:
dir_name="folder"
file_name='file.txt'
full_path= os.path.join(os.getcwd(),dir_name,file_name)
print(full_path)

d:\DataScienceBootCamp\python\folder\file.txt

In [10]:
path ='example.txt'
if os.path.exists(path):
    print(f"The path'{path}' exists")
else:
    print("It exists")

The path'example.txt' exists

In [11]:
## Getting the absolute path
relative_path = 'example.txt'
absolute_path = os.path.abspath(relative_path)
print(absolute_path)

d:\DataScienceBootCamp\python\example.txt

## EXCEPTION HANDLING

In [14]:
## Try ,except block
try:
    a=b
except:
    print("the variable has not been assigned")

the variable has not been assigned

In [15]:
a=b

NameError: name 'b' is not defined

In [16]:
try:
    a=b
except NameError as ex:
    print(ex)

name 'b' is not defined

In [25]:
try:
    result =1/2
    print(result)
    a=b
    
except Exception as ex:
    print(ex)
    print("pleasde enter number greater than zero")

0.5
name 'b' is not defined
pleasde enter number greater than zero

In [29]:
try:
    num =int(input("enter ur  number"))
    result = 10/num
except ValueError:
    print("this is not a valid number")        
except Exception as ex:
    print(ex)

this is not a valid number

In [30]:
## try ,expect , else

try:
    num =int(input("enter ur  number"))
    result = 10/num
except ValueError:
    print("this is not a valid number")        
except Exception as ex:
    print(ex)    
else:
    print(result)

2.0

In [33]:
## try , except, else,finally
try:
    num =int(input("enter ur  number"))
    result = 10/num
except ValueError:
    print("this is not a valid number")        
except Exception as ex:
    print(ex)    
else:
    print(result)
finally:
    print("Execution is complete")

this is not a valid number
Execution is complete

In [35]:
## File handling and exception handling
try:
    file = open('example1.txt','r')
    content = file.read()
    a=b
    print(content)
except FileNotFoundError:
    print("file doesnt exists")
except Exception as ex:
    print(ex)
finally:
    if 'file' in locals() and not file.closed():
        file.close()
        print('file closed')

file doesnt exists

In [43]:
nums =[1,2,3,4,5,6]
nums.reverse()
nums

[6, 5, 4, 3, 2, 1]

In [52]:
def max_consecutive_difference(lst):
    # Your code goes here
    pass
    Max_diff =0
    for i in  range (1,len(lst)):
        diff = lst[i]-lst[(i-1)]
        Max_diff = max(diff,Max_diff)
    return Max_diff

nums=[1,2,3,4,5,6]
max_consecutive_difference(nums)

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [54]:
nums=[10, 11, 15, 3]
n1 =[3,4,5,6,7]
nums.append(n1)
nums

[10, 11, 15, 3, [3, 4, 5, 6, 7]]

OOPS IN PYTHON

Classes and Obejcts

In [2]:
## A class is a blueprint for creating objects. Attributes and mehtods
class Car:
    pass

audi = Car()
print(type(audi))
audi.windows = 4
print(audi.windows)

<class '__main__.Car'>
4

In [5]:
### Instance VAirable and Mehtods
class Dog:
    ## Constructor 
    def __init__(self,name,age):
        self.name = name
        self.age = age

## create objects
dog1 =Dog("COCO",7)   
dog1.name

'COCO'

In [6]:
dog2 =Dog("LUcy",4)
dog2.name

'LUcy'

In [7]:
## Define class with instance methods
class Dog:
   def __init__(self,name,age):
     self.name = name
     self.age = age

   def bark(self):
     print(f"{self.name} says woof")

dog1 = Dog("Buddy", 4)
dog1.bark()

Buddy says woof

In [12]:
class BankAccount:
    def __init__(self,owner,balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self,amount):
        self.balance+= amount
        print(f"{amount} is deposited.Your New Balance is {self.balance}")   \

    def withdraw(self,amount):
        if amount>self.balance:
            print("Insufficent Funds")
        else:
            self.balance -= amount
            print(f"{amount} has been withdrawn,Current Balance ={self.balance}")

    def get_balance(self):
        return self.balance

## create an account
account = BankAccount("Aryan",5000)
print(account.balance)

5000

In [13]:
## call instance method
account.deposit(400)

400 is deposited.Your New Balance is 5400

In [14]:
account.withdraw(200)

200 has been withdrawn,Current Balance =5200

In [15]:
account.get_balance()

5200

## Inheritance in Python

In [16]:
class Car:
    def __init__(self,windows,doors,engineType):
        self.windows = windows
        self.doors = doors
        self.engineType = engineType

    def drive(self):
        print(f"The perosn will drive {self.engineType} car")

In [18]:
car1 = Car(4,5,"petrol")
car1.drive()

The perosn will drive petrol car

In [23]:
class Tesla(Car):
    def __init__(self, windows, doors, engineType,is_selfdriving):
        super().__init__(windows, doors, engineType)
        self.is_selfdriving = is_selfdriving
    
    def selfdriving(self):
        print(f"Tesla Supports self driving: {self.is_selfdriving}")

Tesla1 = Tesla(4,5,"Electric",True)
Tesla1.selfdriving() 
Tesla1.drive ()
Tesla1.windows

Tesla Supports self driving: True
The perosn will drive Electric car

4

In [40]:
## Multiple Inheritance
## When Class inherits more than one base class
class Animal:
    def __init__(self,name):
        self.name  = name

    def speaks(self):
        print("Subclass must implement this method")

class Pet:
    def __init__(self,owner):
       self.owner = owner 

class Dog(Animal,Pet):
    def __init__(self, name, owner):
        Animal.__init__(self,name)
        Pet.__init__(self,owner)  
    def speaks(self):
        return f"{self.name} says woof"

In [42]:
dog1 = Dog("COCO","ARYAN")
print(dog1.speaks())
print(f"Owner:{dog1.owner}")

COCO says woof
Owner:ARYAN

Polymorphism in Python

In [46]:
### Method Overriding
class Animal:
    def speak(self):
        return " sound of the animal"
    
class Dog(Animal):
    def speak(self):
        return "Woof"

class Cat(Animal):
    def speak(self):
        return "Meow"
    
def animal_speak(animal):
    print(animal.speak())        
## Function that demonstrates polymorphism  
dog = Dog()
cat = Cat()
print(cat.speak())
print(dog.speak())    
print(dog.speak())
animal_speak(dog)

Meow
Woof
Woof
Woof

In [47]:
## Polymorphism with functions and Methods

class Shape:
    def area(self):
        return "Area of the figure"

class Rectangle(Shape):
    def __init__(self,width,height):
        self.width = width 
        self.height = height

    def area(self):
        return self.width*self.height  

class Circle(Shape):
    def __init__(self,radius):
        self.radius  = radius
    
    def area(self):
        return 3.14*self.radius


## Function that demonstrates poly

def print_Area(shape):
    print(f"the area is {shape.area()}")

rect = Rectangle(3,4)
cic = Circle(10)

print_Area(rect)
print_Area(cic)

the area is 12
the area is 31.400000000000002

## Polymorphism with Abstract base class

In [51]:
from abc import ABC ,abstractmethod

## Define an abstract class
class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass

## Derived class1
class Car(Vehicle):
   def start_engine(self):
       return "Car engine started"  

## Derived class2
class Motorcycle(Vehicle):
    def start_engine(self):
        return "MotorCycle engine started"


def start_vehicle(vehicle):
    print(vehicle.start_engine())

car = Car()
motorcycle = Motorcycle()

start_vehicle(car)
start_vehicle(motorcycle)

Car engine started
MotorCycle engine started

## Encapulation and Abstraction

In [52]:
## Encapsulation with Getter and Setter Methods
## Public private ,protected variables

class Person:
    def __init__(self,name,age):
        self.name =name ## public variables
        self.age=age ## public variables

person =Person("Aryan",22)
print(person.name)

Aryan

In [54]:
person.__dir__()

['name',
 'age',
 '__module__',
 '__init__',
 '__dict__',
 '__weakref__',
 '__doc__',
 '__new__',
 '__repr__',
 '__hash__',
 '__str__',
 '__getattribute__',
 '__setattr__',
 '__delattr__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__reduce_ex__',
 '__reduce__',
 '__getstate__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__sizeof__',
 '__dir__',
 '__class__']

In [66]:
class Person:
    def __init__(self,name,age,gender):
        self._name =name ## public variables
        self._age=age ## public variables
        self.gender = gender 
class Employee(Person):
    def __init__(self, name, age, gender):
        super().__init__(name, age, gender)

employee = Employee("Aryan",22,"Male") 
print(employee._name)

Aryan

In [64]:
person =Person("Aryan",22,"Male")
person.__dir__()

['_name',
 '_age',
 'gender',
 '__module__',
 '__init__',
 '__dict__',
 '__weakref__',
 '__doc__',
 '__new__',
 '__repr__',
 '__hash__',
 '__str__',
 '__getattribute__',
 '__setattr__',
 '__delattr__',
 '__lt__',
 '__le__',
 '__eq__',
 '__ne__',
 '__gt__',
 '__ge__',
 '__reduce_ex__',
 '__reduce__',
 '__getstate__',
 '__subclasshook__',
 '__init_subclass__',
 '__format__',
 '__sizeof__',
 '__dir__',
 '__class__']

In [68]:
## Encapsulation with Getter and Setter
class Person:
    def __init__(self,name,age,gender):
        self.__name =name ## public variables
        self.__age=age ## public variables
        self.gender = gender 
    def get_name(self):
        return self.__name
    
    ## Setter method
    def set_name(self,name):
        self.__name =name

    def get_age(self):
        return self.__age

    def set_age(self,age):
        if age>0:
            self.__age = age
        else:
            print("age cant be negative ") 
            

person = Person("Aryan",22,"Male")
print(person.get_name())            
print(person.get_age())

person.set_name("Rahul")
person.set_age(-5)
print(person.get_name())            
print(person.get_age())

Aryan
22
age cant be negative
Rahul
22

## Abstraction

In [75]:
from abc import ABC,abstractmethod

## Abstract class
class Vehicle(ABC):
    def drive(self):
        print("The vehicle is used for driving")

    @abstractmethod
    def start_engine(self):
        pass

class Car(Vehicle):
    def start_engine(self):
        return "car engine Started"

def operate_vehicle(vehicle):
    return vehicle.start_engine()

car = Car()
print(operate_vehicle(car))

car engine Started

## Magic Methods

In [ ]:
class Person:
    def __init__(self,name,age,gender):
        self.name =name ## public variables
        self.age=age ## public variables
        self.gender = gender 
    def __str__(self):
        return f"{self.name},{self.age} years old"

In [82]:
## Basic Mehtods 
person =Person("aryan",22,'Male')

print(person)

aryan,22 years old

## Custom Execption

In [1]:
##
class Error(Exception):
    pass

class dobException(Error):
    pass

In [3]:
year =int(input("Enter DOB"))
age = 2024 - year
try:
    if age <=30 and age >=20:
       print("Age is valid")
    else:
        raise dobException
except dobException:
    print("Age not valid ")

Age is valid

## Iterators 

used for efficent looping and memory management

In [5]:
my_list =[1,2,3,4,5,6]

## Itreator
itr =iter(my_list)

In [12]:
## iterate through all elements
next(itr)

StopIteration:

In [22]:


try:
    print(next(itr))
except StopIteration:
    print("There are no elements left")

There are no elements left

## GENERATORS IN PYTHON
they are simple way tpo create itreators

In [28]:
def square(n):
    for i in range(3):
        yield i**2

print(square(3))

<generator object square at 0x0000014265350790>

In [29]:
for i in square(3):
    print(i)

0
1
4

In [30]:
## Practical example : Reading Large files
## as It doesnt load the whole file into the memory 

def read_large_file(file_path):
    with open(file_path,'r') as file:
        for line in file:
            yield line

file_path ='largefile.txt'

for line in read_large_file(file_path):
    print(line.strip())

In this article, we are going to explore how to find the index of an element in a list and explore different scenarios while using the list index() method. Lets take an example to find the index of an Item using the list index method.

list index() method searches for a given element from the start of the list and returns the position of the first occurrence.



1
a = ["cat", "dog", "tiger"]
2

3
print(a.index("dog"))

Output
1
Syntax of List index() Method
Syntax: list_name.index(element, start, end)

Parameters:


element: The element whose lowest index will be returned.
start(optional): The position from where the search begins.
end(optional): The position from where the search ends.

## Decorators

In [37]:
def welcome():
 print("welcome")

welcome()

welcome

In [38]:
wel = welcome
print(wel())
del welcome
print(wel())

welcome
None
welcome
None

In [48]:
## Closures(function inside a function)

def main_welcome(msg):
    def sub_welcome_method():
        print("welcome to adv python ")
        print(msg)
        print("Learn")
    return sub_welcome_method()

In [49]:
main_welcome("hello")

welcome to adv python
hello
Learn

In [50]:
def main_welcome(func,lst):
    def sub_welcome_method():
        print("welcome to adv python ")
        print(func(lst))
        print("Learn")
    return sub_welcome_method()

In [51]:
main_welcome(len,[1,2,3])

welcome to adv python
3
Learn

In [52]:
def main_welcome(func):
    def sub_welcome_method():
        print("welcome to adv python ")
        func()
        print("Learn")
    return sub_welcome_method()

In [53]:
def course_intro():
    print("course intro")

main_welcome(course_intro)

welcome to adv python
course intro
Learn

In [54]:
## Use of Decorator 
@main_welcome
def course_intro():
    print("course intro")

welcome to adv python
course intro
Learn

In [69]:
## 2nd Example
def my_decorator(func):
    def wrapper():
        print("Something is happening before the func is called")
        func()
        print("Something is happening after the func is called")
    return wrapper

In [70]:
@my_decorator
def say_hello():
    print("hello")

In [71]:
say_hello()

Something is happening before the func is called
hello
Something is happening after the func is called

In [72]:
## Decorators with arguments
def repeat(n):
    def decorator(func):
        def wrapper(*args,**kwargs):
            for _ in range(n):
                func(*args,**kwargs)
        return wrapper
    return decorator

In [73]:
@repeat(3)
def say_hello():
    print("hello")

In [75]:
say_hello()

hello
hello
hello